@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Airfool';
  src: url('../fonts/Airfool.ttf') format('truetype');
}
body {
  font-family: 'Montserrat-Regular', sans-serif;
  line-height: 150%;
  color: #141212;
}
.container {
  max-width: 1200px;
  padding: 0px 10px;
  margin: 0px auto;
}
button.main-btn {
  margin-top: 30px;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #141212;
  background: #ffd200;
  border-radius: 30px;
  border: none;
  font-size: 1.125em;
  cursor: pointer;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 150%;
  position: relative;
}
button.main-btn:before {
  content: '';
  width: 350px;
  height: 50px;
  background: transparent;
  border: 2px solid #ffd200;
  border-radius: 30px;
  right: -15px;
  bottom: -10px;
  position: absolute;
  transition: 0.5s;
  box-sizing: border-box;
}
button.main-btn:hover:before {
  right: 0;
  bottom: 0;
}
a {
  text-decoration: none;
  color: #141212;
}
.main {
  height: 100vh;
  overflow: hidden;
  background: #3667e6;
  position: relative;
  transition: 0.5s;
}
.main__wrapper {
  display: grid;
  grid-template-columns: 60% 50%;
  align-items: center;
  min-height: 70vh;
  position: relative;
  z-index: 2;
}
.main__content {
  position: relative;
}
.main__text h1 {
  font-family: 'Airfool', sans-serif;
  line-height: 100%;
  font-size: 3.5em;
  color: #fff;
}
.main__text h1 span.name {
  display: block;
  margin: 30px 0px 30px 0px;
  font-size: 1.8em;
}
.main__text h2 {
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 150%;
  font-size: 1.5em;
  color: #fff;
}
.main__image {
  position: relative;
  pointer-events: none;
}
.main__image img {
  max-width: 100%;
  pointer-events: none;
}
.figure {
  background: #ef7584;
  height: 160%;
  width: 60%;
  position: absolute;
  right: -10%;
  top: -5%;
  transform: rotate(30deg);
  border-radius: 40%;
  z-index: 0;
  transition: 1s;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
  border-radius: 50%;
  position: absolute;
}
.circle1 {
  height: 100px;
  width: 100px;
  background: #865dc8;
  top: 20%;
  left: 5%;
  animation: wave 2s linear infinite;
}
.circle2 {
  height: 80px;
  width: 80px;
  background: #ef7584;
  bottom: 25%;
  left: 25%;
}
.circle3 {
  height: 50px;
  width: 50px;
  background: #faba69;
  bottom: 5%;
  left: 40%;
  animation: wave 2s linear infinite;
}
.circle4 {
  height: 120px;
  width: 120px;
  background: #a4e24c;
  bottom: 5%;
  left: 7%;
  animation: wave 3s linear infinite;
}
.circle5 {
  height: 120px;
  width: 120px;
  background: transparent;
  border: 5px dotted #a4e24c;
  top: 15%;
  left: 45%;
  animation: circle 15s linear infinite;
}
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes circle {
  to {
    transform: rotate(360deg);
  }
}
.header {
  padding: 50px 0px 0px 0px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  align-items: center;
  position: relative;
  z-index: 2;
}
.header__link ul {
  display: flex;
  justify-content: space-around;
}
.header__link ul li {
  display: inline-block;
}
.header__link ul li a {
  font-size: 1.125em;
  color: #fff;
  font-family: 'Montserrat-SemiBold', sans-serif;
  line-height: 150%;
  text-decoration: none;
  transition: 0.5s;
  position: relative;
}
.header__link ul li a:before {
  content: '';
  height: 2px;
  width: 0;
  background: #ffd200;
  position: absolute;
  bottom: -10px;
  transition: 0.5s;
}
.header__link ul li a:hover {
  color: #ffd200;
}
.header__link ul li a:hover:before {
  width: 100%;
}
.header__phone {
  margin-left: auto;
}
.header__phone a.phone {
  font-size: 1.3em;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 150%;
  color: #ffd200;
  text-decoration: none;
  position: relative;
}
.header__phone a.phone:before {
  content: '';
  height: 40px;
  width: 40px;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/icons/phone.svg) no-repeat center;
  background-size: cover;
}
.mobile__menu {
  display: none;
}
h3 {
  text-align: center;
  font-family: 'Airfool', sans-serif;
  line-height: 100%;
  font-size: 3em;
  color: #fff;
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
}
.priority {
  background: #865dc8;
  min-height: 100vh;
  padding-bottom: 50px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.priority__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
  position: relative;
  z-index: 10;
}
.priority__item {
  color: #fff;
}
.priority__item img {
  display: block;
  max-height: 180px;
  margin: 0px auto;
}
.priority__item h4 {
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 150%;
  font-size: 1.5em;
  text-align: center;
}
.priority__item p {
  text-align: center;
  font-size: 1em;
}
.priority .circle1 {
  height: 100px;
  width: 100px;
  background: #865dc8;
  top: 20%;
  left: 80%;
  animation: wave 2s linear infinite;
}
.priority .circle2 {
  height: 80px;
  width: 80px;
  background: #ef7584;
  bottom: 25%;
  left: 35%;
}
.priority .circle3 {
  height: 50px;
  width: 50px;
  background: #faba69;
  bottom: 5%;
  left: 56%;
  animation: wave 2s linear infinite;
}
.priority .circle4 {
  height: 120px;
  width: 120px;
  background: #a4e24c;
  bottom: 15%;
  left: 7%;
  animation: wave 3s linear infinite;
}
.priority .circle5 {
  height: 120px;
  width: 120px;
  background: transparent;
  border: 5px dotted #a4e24c;
  top: 13%;
  left: 30%;
  animation: circle 15s linear infinite;
}
.services {
  background: #ef7584;
  min-height: 100vh;
  padding-bottom: 50px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.services button.main-btn,
.services button.main-btn:before {
  width: 200px;
  margin: 0px auto;
}
.services__wrapper {
  position: relative;
  z-index: 10;
}
.services .slick-slide {
  margin: 0px 25px;
}
.services .slick-track {
  position: relative;
}
.services .slick-arrow {
  font-size: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 4px solid #ef7584;
  background: #fff url(../img/icons/arrow.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.services .slick-prev {
  left: -5px;
  transform: translateY(-50%) rotate(180deg);
}
.services .slick-next {
  right: -5px;
}
.services__item {
  padding: 50px;
  border-radius: 50px;
  background: #fff;
}
.services__item h4 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 150%;
  color: #ef7584;
  text-align: center;
  margin-bottom: 20px;
}
.services__item p {
  font-size: 14px;
  margin-bottom: 20px;
}
.services__item span.price {
  display: block;
  margin-bottom: 20px;
  font-size: 1.63em;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 150%;
  text-align: center;
}
.services__item b {
  font-size: 18px;
}
.services__item ul {
  margin: 20px 0px;
}
.services__item ul li {
  font-size: 14px;
  position: relative;
  left: 30px;
  margin-right: 30px;
}
.services__item ul li:before {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../img/icons/ok.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.services__info {
  text-align: center;
  padding: 50px 0px;
  max-width: 50%;
  margin: 0px auto;
  position: relative;
  z-index: 10;
}
.services__info h4 {
  font-size: 2em;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 150%;
  color: #fff;
}
.services__row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  align-items: center;
  margin: 5px 0px;
  padding: 5px 10px;
  background: #fff;
  border-radius: 50px;
}
.services__row span {
  display: block;
  text-align: center;
}
.services__row span.time {
  font-size: 1.8em;
  font-family: 'Montserrat-SemiBold', sans-serif;
  line-height: 150%;
  color: #ef7584;
}
.services__row span.text {
  text-align: left;
}
.services .figure {
  background: #865dc8;
}
.services .circle1 {
  height: 100px;
  width: 100px;
  background: #865dc8;
  top: 10%;
  left: 10%;
  animation: wave 2s linear infinite;
}
.services .circle2 {
  height: 80px;
  width: 80px;
  background: #ef7584;
  bottom: 25%;
  left: 80%;
}
.services .circle5 {
  height: 120px;
  width: 120px;
  background: transparent;
  border: 5px dotted #a4e24c;
  top: 5%;
  left: 40%;
  animation: circle 15s linear infinite;
}
.contacts {
  background: #a4e24c;
  min-height: 100vh;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.contacts__wrapper {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 50px;
  align-items: center;
}
.contacts__info h4 {
  font-size: 1.5em;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 150%;
  margin-bottom: 20px;
  color: #865dc8;
}
.contacts__info h5 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  line-height: 150%;
  color: #fff;
  margin: 5px 0px;
}
.contacts__info p {
  color: #fff;
}
.about {
  background: #865dc8;
  min-height: 100vh;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.about__content {
  position: relative;
  z-index: 10;
}
.about__content p {
  color: #fff;
  font-size: 18px;
  margin: 10px 0px;
  text-align: justify;
}
.about .circle1 {
  height: 100px;
  width: 100px;
  background: #865dc8;
  top: 60%;
  left: 80%;
  animation: wave 2s linear infinite;
}
.about .circle2 {
  height: 80px;
  width: 80px;
  background: #ef7584;
  bottom: 25%;
  left: 35%;
}
.about .circle3 {
  height: 50px;
  width: 50px;
  background: #faba69;
  bottom: 5%;
  left: 56%;
  animation: wave 2s linear infinite;
}
.about .circle4 {
  height: 120px;
  width: 120px;
  background: #a4e24c;
  bottom: -2%;
  left: -3%;
  animation: wave 3s linear infinite;
}
.about .circle5 {
  height: 120px;
  width: 120px;
  background: transparent;
  border: 5px dotted #a4e24c;
  top: 13%;
  left: 40%;
  animation: circle 15s linear infinite;
}
.popup {
  display: none;
  max-width: 500px;
  text-align: center;
}
.popup h4 {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 150%;
  margin-bottom: 10px;
}
.popup span {
  display: inline-block;
  margin: 0px auto;
  padding: 0px 10px;
  background: #fff;
  position: relative;
  font-size: 18px;
  top: 10px;
}
.popup input {
  display: block;
  margin: 0px auto;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-radius: 30px;
  border: 1px solid #141212;
  font-size: 1em;
  margin-bottom: 20px;
}
.popup button.main-btn {
  width: 300px;
  margin: 20px auto;
}
.popup button.main-btn:before {
  width: 300px;
}
@media (max-width: 1150px) {
  .container {
    max-width: none;
    padding: 0px 30px;
  }
  .main__text h1 {
    font-size: 2em;
  }
  .main__text h2 {
    font-size: 1em;
  }
  .main__image {
    position: relative;
    right: 0%;
    top: 0%;
  }
  .main__image img {
    max-width: 100%;
  }
  .header {
    padding: 30px 0px;
    grid-template-columns: 20% 50% 30%;
  }
  .header__link ul li a {
    font-size: 0.875em;
  }
  .header__phone a.phone {
    font-size: 1em;
  }
  h3 {
    font-size: 2.5em;
  }
  .priority__item h4 {
    font-size: 1em;
  }
  .priority__item p {
    font-size: 0.875em;
  }
  .services__info {
    max-width: 70%;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: none;
    padding: 0px 20px;
    margin: 0px auto;
  }
  .main__wrapper {
    grid-template-columns: 100%;
    align-items: start;
  }
  .main__text {
    margin-top: 30%;
  }
  .main__text h1 {
    font-size: 1.7em;
  }
  .main__text h1 span.name {
    font-size: 1.8em;
  }
  .main__text h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 150%;
    font-size: 1.125em;
    color: #fff;
  }
  .main__text button.main-btn {
    width: 300px;
  }
  .main__text button.main-btn:before {
    width: 300px;
  }
  .main__image img {
    transform: translateX(20%);
    position: relative;
    z-index: 3;
  }
  .figure {
    height: 800px;
    width: 500px;
    right: -30%;
    top: 35%;
    transform: rotate(35deg);
  }
  .circle1 {
    height: 100px;
    width: 100px;
    background: #865dc8;
    top: 20%;
    left: 5%;
    animation: wave 2s linear infinite;
  }
  .circle2 {
    height: 80px;
    width: 80px;
    background: #ef7584;
    bottom: 25%;
    left: 25%;
  }
  .circle3 {
    height: 50px;
    width: 50px;
    background: #faba69;
    bottom: 5%;
    left: 7%;
    animation: wave 2s linear infinite;
  }
  .circle4 {
    height: 120px;
    width: 120px;
    background: #a4e24c;
    bottom: 50%;
    left: 70%;
    animation: wave 3s linear infinite;
  }
  .circle5 {
    height: 120px;
    width: 120px;
    background: transparent;
    border: 5px dotted #a4e24c;
    top: -1%;
    left: 72%;
    animation: circle 15s linear infinite;
  }
  .header {
    padding: 20px 0px;
  }
  .header__link {
    grid-column-start: 1;
    height: 50px;
    width: 50px;
    background: url(../img/icons/menu.svg) no-repeat center;
    background-size: cover;
  }
  .header__link ul {
    display: none;
  }
  .header__logo {
    grid-column-start: 2;
  }
  .header__phone {
    grid-column-start: 3;
  }
  .header__phone a.phone {
    font-size: 0;
  }
  .header__phone a.phone:before {
    height: 50px;
    width: 50px;
    left: -60px;
    top: -30px;
    transform: translateY(0);
  }
  .mobile__menu {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3667e6;
    z-index: 100;
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.5s;
  }
  .mobile__menu ul {
    text-align: center;
    margin-top: 30%;
  }
  .mobile__menu ul li a {
    font-size: 1.5em;
    margin: 10px 0px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat-SemiBold', sans-serif;
    line-height: 150%;
  }
  .mobile__menu button.close {
    height: 50px;
    width: 50px;
    background: url(../img/icons/close.svg) no-repeat center;
    background-size: cover;
    border: none;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .mobile__menu .circle1 {
    height: 100px;
    width: 100px;
    background: #865dc8;
    top: 40%;
    left: 5%;
    animation: wave 2s linear infinite;
    pointer-events: none;
  }
  .mobile__menu .circle2 {
    height: 80px;
    width: 80px;
    background: #ef7584;
    bottom: 25%;
    left: 25%;
    pointer-events: none;
  }
  .mobile__menu .circle3 {
    height: 50px;
    width: 50px;
    background: #faba69;
    bottom: 5%;
    left: 7%;
    animation: wave 2s linear infinite;
    pointer-events: none;
  }
  .mobile__menu .circle4 {
    height: 120px;
    width: 120px;
    background: #a4e24c;
    bottom: 20%;
    left: 57%;
    animation: wave 3s linear infinite;
    pointer-events: none;
  }
  .mobile__menu .circle5 {
    height: 120px;
    width: 120px;
    background: transparent;
    border: 5px dotted #a4e24c;
    top: -1%;
    left: -5%;
    animation: circle 15s linear infinite;
    pointer-events: none;
  }
  h3 {
    font-size: 2.5em;
  }
  .priority .mobile__menu {
    background: #865dc8;
  }
  .priority__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .priority__item img {
    max-height: 100px;
  }
  .priority__item h4 {
    font-size: 1em;
  }
  .priority__item p {
    font-size: 0.875em;
  }
  .priority .circle1 {
    height: 100px;
    width: 100px;
    background: #865dc8;
    top: 60%;
    left: 80%;
    animation: wave 2s linear infinite;
  }
  .priority .circle2 {
    height: 80px;
    width: 80px;
    background: #ef7584;
    bottom: 60%;
    left: 35%;
  }
  .priority .circle3 {
    height: 50px;
    width: 50px;
    background: #faba69;
    bottom: 5%;
    left: 56%;
    animation: wave 2s linear infinite;
  }
  .priority .circle4 {
    height: 120px;
    width: 120px;
    background: #a4e24c;
    bottom: 15%;
    left: 7%;
    animation: wave 3s linear infinite;
  }
  .priority .circle5 {
    height: 120px;
    width: 120px;
    background: transparent;
    border: 5px dotted #a4e24c;
    top: 7%;
    left: 10%;
    animation: circle 15s linear infinite;
  }
  .contacts {
    background: #a4e24c;
    min-height: 100vh;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
  }
  .contacts .mobile__menu {
    background: #a4e24c;
  }
  .contacts__wrapper {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 50px;
    align-items: center;
  }
  .contacts__info h4 {
    font-size: 1.5em;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 150%;
    margin-bottom: 20px;
    color: #865dc8;
  }
  .contacts__info h5 {
    font-family: 'Montserrat-SemiBold', sans-serif;
    line-height: 150%;
    color: #fff;
    margin: 5px 0px;
  }
  .contacts__info p {
    color: #fff;
  }
  .contacts {
    background: #ef7584;
  }
  .contacts .mobile__menu {
    background: #ef7584;
  }
  .contacts__wrapper {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
  .contacts__info {
    grid-row-start: 1;
  }
  .contacts__info h4 {
    font-size: 1.5em;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 150%;
    margin-bottom: 20px;
    color: #865dc8;
  }
  .contacts__info h5 {
    font-family: 'Montserrat-SemiBold', sans-serif;
    line-height: 150%;
    color: #fff;
    margin: 5px 0px;
  }
  .contacts__info p {
    color: #fff;
  }
  .contacts .figure {
    background: #a4e24c;
  }
  .contacts .circle1 {
    height: 100px;
    width: 100px;
    background: #865dc8;
    top: 60%;
    left: 80%;
    animation: wave 2s linear infinite;
  }
  .contacts .circle2 {
    height: 80px;
    width: 80px;
    background: #ef7584;
    bottom: 0%;
    left: 5%;
  }
  .contacts .circle3 {
    height: 50px;
    width: 50px;
    background: #faba69;
    bottom: 60%;
    left: 56%;
    animation: wave 2s linear infinite;
  }
  .contacts .circle4 {
    height: 120px;
    width: 120px;
    background: #a4e24c;
    bottom: 80%;
    left: 90%;
    animation: wave 3s linear infinite;
  }
  .contacts .circle5 {
    height: 120px;
    width: 120px;
    background: transparent;
    border: 5px dotted #a4e24c;
    top: 7%;
    left: 10%;
    animation: circle 15s linear infinite;
  }
  .about .mobile__menu {
    background: #865dc8;
  }
  .about__content p {
    font-size: 1em;
  }
  .about .circle5 {
    height: 120px;
    width: 120px;
    background: transparent;
    border: 5px dotted #a4e24c;
    top: 5%;
    left: 40%;
    animation: circle 15s linear infinite;
  }
  .services .mobile__menu {
    background: #ef7584;
  }
  .services button.main-btn,
  .services button.main-btn:before {
    width: 180px;
    font-size: 1em;
  }
  .services .slick-slide {
    margin: 0px;
  }
  .services .slick-arrow {
    height: 50px;
    width: 50px;
  }
  .services .slick-prev {
    left: -20px;
  }
  .services .slick-next {
    right: -20px;
  }
  .services__item {
    padding: 40px;
  }
  .services__info {
    max-width: 100%;
  }
  .services__info h4 {
    font-size: 1.5em;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 150%;
    color: #fff;
  }
  .services__row {
    padding: 5px;
  }
  .services__row span.time {
    font-size: 1.25em;
  }
  .services__row span.text {
    font-size: 0.875em;
  }
  .services .figure {
    background: #865dc8;
  }
  .services .circle1 {
    height: 100px;
    width: 100px;
    background: #865dc8;
    top: 10%;
    left: 10%;
    animation: wave 2s linear infinite;
  }
  .services .circle2 {
    height: 80px;
    width: 80px;
    background: #ef7584;
    bottom: 25%;
    left: 80%;
  }
  .services .circle5 {
    height: 120px;
    width: 120px;
    background: transparent;
    border: 5px dotted #a4e24c;
    top: 5%;
    left: 40%;
    animation: circle 15s linear infinite;
  }
  .popup {
    max-width: 95%;
  }
  .popup input {
    width: 250px;
  }
  .popup button.main-btn {
    width: 250px;
  }
  .popup button.main-btn:before {
    width: 250px;
  }
}
